.fc-green-color {
    color: $yellowgreen;
}

.fc-white {
    color: white;
}

.fc-black {
    color: black;
}

.fc-orangeyellow {
    color: $orangeyellow;
}

.darkred {
    color: $darkred;
}

.redpink {
    color: $redpink;
}

.darkorange {
    color: $darkorange;
}

.gray35 {
    color: $gray35;
}

.grayb3 {
    color: $grayb3;
}

.orange-yellow {
    color: $orangeyellow;
}

.light-brown-yellow {
    color: $lightbrownyellow;
}

.mid-orange-yellow {
    color: $midorangeyellow;
}

.green {
    color: $green;
}